<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <img src = "https://www.pngarts.com/files/5/Dental-Health-PNG-Image-Transparent-Background.png">

    <div id="quote">
      <p>Your great smile</p>
      <p>begins with a great</p>
      <p>dentist</p>
    </div>

    <div id="appbutton">
      <ion-button shape="round" color="secondary" [routerLink]="['/appointment']">Book an Appointment Now</ion-button>
    </div>

</ion-content>
