#portal{
    text-align: center;
    font-size: 20px;
    line-height: 5px;
    position: absolute;
    color: #797575;
    left: 0;
    right: 0;
    top: 2%;
}
#img{
    position: absolute;
    top: 7%;
    right: 38%;
}
#pname{
    text-align: center;
    font-size: 25px;
    line-height: 5px;
    position: absolute;
    color: #797575;
    left: 0;
    right: 0;
    top: 22%;
}
#pmail{
    text-align: center;
    font-size: 12px;
    line-height: 5px;
    position: absolute;
    color: #797575;
    left: 0;
    right: 0;
    top: 27%;
}
#info{
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    color: #797575;
    left: 0;
    right: 0;
    top: 30%;
}