<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src = "https://www.pngarts.com/files/5/Dental-Health-PNG-Image-Transparent-Background.png">

    <ion-card>
      <ion-item>
        <ion-icon name="location"></ion-icon>
        <p>Ricardo Building Rizal Ave. Batangas City</p>
    </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <p>984-1234</p>
    </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-icon name="time"></ion-icon>
        <br>Mon-Thu 8am - 5pm
        <br>Friday 8am - 2pm
    </ion-item>
    </ion-card>

</ion-content>
